name: Alive check

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
    
jobs:
  alive:
    runs-on: ubuntu-latest
    steps:
      - name: Say hi
        run: echo "Loving every minute (at $(date)) coz you make me feel so alive!"